.layout-about{
  max-width: 600px;
  margin: 0 auto;
  .about-introduction{
    padding: 15px 0;
    border-bottom: 1px solid #F3F3F3;
  }
  .about-weixin{
    text-align: center;
    img{
      width: 120px;
    }
  }
}
