@import '~assets/token.styl'
.layout-home{
  padding-top: 72px;
  .home-quote{
    margin-bottom: 60px;
    text-align: center;
    p{
      margin: 0;
      sup{
        color; primary-color;
      }
    }
    .quote-content{
      font-size: 22px;
      font-weight: bold;
      color: #666;
    }
    .quote-author{
      font-size: 18px;
      color: #999;
    }
  }
  .home-section{
    .section-title{
      margin: 0;
      padding-top: 72px;
      font-size: 24px;
      line-height: 1.2;
    }
    .section-description{
      margin: 0;
      margin-bottom: 20px;
      color: #999;
    }
  }
}

@media (max-width: 767px) {
  .layout-home{
    .home-quote{
      margin-bottom: 0;
    }
  }
}
